#editor {
	background-color: #000000;
	color: #AAAAAA;
	font-size: 16px;
	min-width: 99%;
	max-width: 99%;
	min-height: 90vh;
	border: solid 1px #AAAAAA;
	outline: none;
	margin: 0px auto;
	font-family: 'Courier New', monospace;
	padding: 5px;
}

#toolBar {
	display: flex;
    align-items: center;
}

#saveFile {
	background-color: #000000;
	color: #AAAAAA;
	font-size: 16px;
	height: 30px;
	border: solid 1px #AAAAAA;
	outline: none;
	margin: 10px auto;
	font-family: 'Courier New', monospace;
	padding: 4px;
	flex-grow: 1;
}

#saveButton {
	background-color: #000000;
	color: #AAAAAA;
	font-size: 16px;
	width: 100px;
	height: 40px;
	border: solid 1px #AAAAAA;
	outline: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 8px;
	float:right;
}

#version {
	text-align: center;
	font-family: 'Courier New', monospace;
}

#saveButton:hover {
	background-color: #AAAAAA;
	color: #000000;
}