.bigBox {
	width: 100%;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #202020;
	text-align: center;
	margin: auto;
}

.bigBoxHeading {
	font-size: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.smallBox {
	width: 400px;
	float: center;
	margin: auto;
	color: #909090;
	text-align: center;
	align-items: center;
	background-color: #050505;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

.smallBoxImg {
	width: 400px;
}

.smallBoxDescription {
	height: 180px;
	font-size: 20px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #050505;
	align-items: center;
}

.smallBox:hover {
	transform: scale(1.05);
}
