/*
-------------
   colors
-------------
black: #000000 (page background)
gray: #151515 (navBar background)
	  #808080 (navBar border)
	  #909090 (default text)
	  
*/

/*---overall page---*/
body {
	background-color: #000000;
	color: #909090;
	font-family: sans-serif;
}

main {
	margin-left: 10px;
	margin-right: 10px;
}

.footer {
        width: 95%;
	text-align: right;
}

a {
	text-decoration: none;
	color: #909090;
}

/*---navigation Bar---*/
#navBar {
	background-color: #151515;
	border-bottom:4px solid;
	border-color: #808080;
	width:99%;
	height: 75px;
	padding-left: 5px;
	padding-right: 5px;
}

#logoDiv {
	border-right:4px solid;
	border-color: #808080;
	float: left;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

#logo {
	font-size: 26px;
	float: left|center;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 100px;
}

#logoDiv:hover {
	animation-name: logoDivHover;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes logoDivHover {
	0%{
		color: #909090;
	}
	100% {
		color: #151515;
	}
}

.navBut {
	font-size: 25px;
	float: left;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navBut:hover {
	background-color: #909090;
	color: #000000
}

#githubMain {
	float: right;
}
