.toolNameHeading {
	font-size: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
}

.releaseHeading {
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.releaseBox {
	width: 400px;
	background-color: #000000;
	border: 3px solid #909090;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 10px;
}

.releaseBoxHeading {
	width: 100%;
	border-bottom: 3px solid #909090;
	padding-bottom: 10px;
	margin: 10px auto;
	font-size: 35px;
}

.releaseBoxInfo {
	font-size: 20px;
	padding: 10px;
	font-family: 'Courier New', monospace;
}

.releaseBoxButton {
	width: 80%;
	font-size: 25px;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	color: #909090;
	background-color: #000000;
	border: 3px solid #909090;
	text-align: center;
	margin: 10px auto;
	padding: 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

.releaseBoxButton:hover {
	transform: scale(1.05);
	background-color: #909090;
	color: #000000;
}
