.toolNameHeading {
	font-size: 50px;
	font-weight: 1000;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 100%;
	text-align: center;
}

.releaseHeading {
	font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

@media screen and (min-width: 1200px) {
	.releaseBoxHolderM2C {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto;
		margin: 30px auto;
	}
	
	.releaseBoxHolder2C {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		margin: 30px auto;
	}
    
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
	.releaseBoxHolderM2C {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		margin: 30px auto;
	}
	
	.releaseBoxHolder2C {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		margin: 30px auto;
	}
    
}

.releaseBox {
	width: 350px;
	background-color: #000000;
	border: 3px solid #aaaaaa;
	margin: 40px auto;
	text-align: center;
	padding-bottom: 10px;
}

.releaseBoxHeading {
	width: 100%;
	font-weight: bold;
	border-bottom: 3px solid #aaaaaa;
	padding-bottom: 10px;
	margin: 10px auto;
	font-size: 35px;
}

.releaseBoxInfo {
	font-size: 20px;
	padding: 10px;
	font-family: 'Courier New', monospace;
}

.releaseBoxButton {
	width: 80%;
	font-size: 25px;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	color: #aaaaaa;
	background-color: #000000;
	border: 3px solid #aaaaaa;
	text-align: center;
	margin: 10px auto;
	padding: 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

.releaseBoxButton:hover {
	transform: scale(1.05);
	background-color: #aaaaaa;
	color: #000000;
}
