/*
-------------
   colors
-------------
black: #000000 (page background)
gray: #151515 (navBar background)
	  #aaaaaa (navBar border)
	  #aaaaaa (default text)
	  
*/

/*---overall page---*/
body {
	background-color: #000000;
	color: #AAAAAA;
	font-family: sans-serif;
	opacity: 0;
	animation-name: bodyAnimation;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes bodyAnimation {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

main {
	margin-left: 10px;
	margin-right: 10px;
}

.footer {
    width: 100%;
	text-align: right;
}

a {
	text-decoration: none;
	color: #aaaaaa;
}

.redirectText {
	text-decoration: underline;
}

.redirectText:hover {
	color: #757575;
}

hr {
	background-color: #aaaaaa;
	height: 3px;
	margin-top: 50px;
	width: 95%;
}

/*---navigation Bar---*/
#navBar {
	background-color: #151515;
	border-bottom:4px solid;
	border-color: #aaaaaa;
	margin: 0px auto;
	width: 100%;
	height: 75px;
	transform: translate(0px,-100px);
	animation-name: navBarAnimation;
	animation-duration: 1.15s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes navBarAnimation {
	0%{
		transform: translate(0px,-100px);
	}
	100% {
		transform: translate(0px,0px);
	}
}

#logoDiv {
	border-right:4px solid;
	border-color: #aaaaaa;
	float: left;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

#logo {
	font-size: 26px;
	float: left|center;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 100px;
}

#logoDiv:hover {
	animation-name: logoDivHover;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes logoDivHover {
	0%{
		color: #aaaaaa;
	}
	100% {
		color: #151515;
	}
}

.navBut {
	font-size: 25px;
	float: left;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
    	-moz-transition: all 0.5s ease;
    	-o-transition: all 0.5s ease;
    	-ms-transition: all 0.5s ease;
    	transition: all 0.5s ease;
}

.navBut:hover {
	background-color: #aaaaaa;
	color: #000000
}

#githubMain {
	float: right;
}
