.toolBigBox {
	width: 100%;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	background-color: #202020;
	text-align: center;
	margin: 0px auto;
}

.toolBigBoxHeading {
	font-size: 50px;
	font-weight: 1000;
	padding-top: 15px;
	padding-bottom: 10px;
}

.toolBigBoxImage {
	display:block;
   	margin: 5% auto;
	width: 85%;
	border: none;
}

.toolBigBoxMainInfoBox {
	width: 80%;
	background-color: #050505;
	margin: 0px auto;
	padding: 15px;
	text-align: left;
}

.toolBigBoxMainInfo {
	font-size: 22px;
	line-height: 1.3;
	width: 90%;
	margin: 40px auto 25px auto;
}

.toolBigBoxDownloadBox {
	width: 80%;
	background-color: #050505;
	margin: 0px auto;
	padding: 15px;
	text-align: center;
}

.toolBigBoxDownloadButton {
	width: 90%;
	font-size: 25px;
	color: #050505;
	background-color: #aaaaaa;
	border: 3px solid #aaaaaa;
	text-align: center;
	margin: 10px auto;
	padding: 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

.toolBigBoxDownloadButton:hover {
	transform: scale(1.05);
	background-color: #050505;
	color: #aaaaaa;
}

@media screen and (min-width: 1100px) {
	.releaseBoxHolder {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		margin: 30px auto;
	}
    
}

.releaseBox {
	width: 400px;
	border: 3px solid #aaaaaa;
	margin: 10px auto;
	text-align: center;
	padding-bottom: 10px;
}

.releaseBoxHeading {
	width: 100%;
	border-bottom: 3px solid #aaaaaa;
	padding-bottom: 10px;
	margin: 10px auto;
	font-size: 35px;
}

.releaseBoxInfo {
	font-size: 20px;
	font-family: 'Courier New', monospace;
	padding: 10px;
}

.releaseBoxButton {
	width: 80%;
	font-size: 25px;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	color: #aaaaaa;
	background-color: #000000;
	border: 3px solid #aaaaaa;
	text-align: center;
	margin: 10px auto;
	padding: 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition-duration: 0.5s;
	cursor: pointer;
}

.releaseBoxButton:hover {
	transform: scale(1.05);
	background-color: #aaaaaa;
	color: #000000;
}

.smallhref {
	color: #aaaaaa;
	font-size: 15px;
	font-family: 'Courier New', monospace;
	text-decoration: none;
}

.smallhref:hover {
	color: #757575;
}
